In [9]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/vdk/muons2024/LowNSBRuns.csv')

In [4]:
set_nsb_years = set(df['yyyymmdd'])

In [14]:
array_nsb_years = np.array(list(set_nsb_years))

In [19]:
need_values = array_nsb_years[array_nsb_years>20220523]

In [22]:
need_values.sort()

278

In [33]:
filtered_df = df[df['yyyymmdd'].isin(need_values)]

In [35]:
filtered_df.to_csv('/Users/vdk/muons2024/lowNSBvalues_filtered.csv')

In [36]:
filtered_df

        yyyymmdd  runnumber  subrun
255974  20220524       8435       0
255975  20220524       8435       1
255976  20220524       8435       2
255977  20220524       8435       3
255978  20220524       8435       4
...          ...        ...     ...
746142  20240228      16894      17
746143  20240228      16894      18
746144  20240228      16897       6
746145  20240228      16897       7
746146  20240228      16897       8

[490173 rows x 3 columns]